
.details {
  &-control-group {
    display: grid;
    grid-template-columns: 260px 150px 180px 260px;
    gap: 10px;
  }

  @media (max-width: 920px) {
    &-control-group {
      grid-template-columns: 49% 49%;
    }
  }

}