.input-data {
  &-wrapper {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    gap: 10px;
  }
  
  @media (max-width: 920px) {
    &-wrapper {
      grid-template-columns: 50% 50%;
    }
  }
}
