body {
  max-width: 920px;
  min-width: 600px;
  overflow: auto;
  margin: auto;
}

.card {
  padding-top: 20px;
}

.input-card {
  padding: 0.5em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media print {
  .input-data-area {
    display: none;
  }

  #print-area {
    display: block;
  }
  
  table tbody {
    height: 1000px;
  }
  
  .grid-panel-left {
    top: 0;
  }
  .body-scroll {
    height: 100%;
  }
   
}