@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";

body {
  max-width: 920px;
  margin: auto;
}

.card {
  padding-top: 20px;
}

.input-card {
  padding: 0.5em;
}

.bp5-button {
  margin-right: 15px;
}
.bp5-input-group {
  width: 170px;
}

/* .bp5-form-content {
  width: 220px;
}
.bp5-input {
  width: 200px;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media print {
  .input-data-area {
    display: none;
  }

  #print-area {
    display: block;
  }
  
  table tbody {
    height: 1000px;
  }
  
  .grid-panel-left {
    top: 0;
  }
  .body-scroll {
    height: 100%;
  }
   
}